@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #0F172A;
  font-weight: 300;
  font-size: 18px;
}

span,
a,
sup,
sub {
  display: inline-block;
}

p:last-child {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: #0F172A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Outfit", sans-serif;
  color: #0F172A;
  font-weight: 500;
}

.overlay {
  position: fixed;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.overlay.active {
  z-index: 9999;
  background-color: rgba(59, 60, 74, 0.4);
}

.header {
  transition: all ease 0.3s;
  position: relative;
  z-index: 111;
}
@media (max-width: 991px) {
  .header {
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
  }
}
.header.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 6px 8px -6px rgba(15, 23, 42, 0.05), 0 8px 16px -6px rgba(15, 23, 42, 0.05);
  animation: headerFade 0.3s linear;
}
@keyframes headerFade {
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.logo a {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
}
.logo a:hover {
  color: #0F172A;
}

.nav-btn-wrapper {
  padding: 17px 0;
}
.nav-btn-wrapper .sign-btn {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-right: 26px;
}
.nav-btn-wrapper .try-btn {
  background-color: #0019FD;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 5px 6px 0px rgba(0, 25, 253, 0.1019607843);
  padding: 7px 20px;
  line-height: 26px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #0019FD;
  transition: all ease 0.3s;
}
.nav-btn-wrapper .try-btn:hover {
  background-color: transparent;
  color: #0019FD;
}

.nav-content-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-menu {
  margin: 0;
  padding: 0;
  gap: 30px;
  padding-left: 50px;
}
.main-menu li {
  list-style: none;
  line-height: 1;
}
.main-menu li a {
  padding: 0px 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.main-menu li a:hover {
  color: #000;
}

@media (max-width: 991px) {
  .nav-content-right {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start !important;
    padding: 60px 40px;
    box-shadow: 2px 0 25px rgba(0, 0, 0, 0.0705882353);
  }
  .nav-content-right .main-menu {
    flex-direction: column;
    padding: 0;
    margin-bottom: 40px;
  }
}

.language-select {
  position: relative;
}
.language-select ul {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all ease 0.3s;
  display: none;
  position: absolute;
}
.language-select .control-lan {
  margin-right: 23px;
}
.language-select .control-lan:focus ul {
  display: block;
}

.hero-section {
  padding-top: 60px;
  padding-bottom: 100px;
}
@media (max-width: 991px) {
  .hero-section {
    padding-bottom: 60px;
  }
}

.hero-content__title {
  font-size: 62px;
  line-height: 1.13;
  margin-bottom: 35px;
}
@media (max-width: 991px) {
  .hero-content__title {
    font-size: 42px;
    margin-bottom: 15px;
  }
}
@media (max-width: 575px) {
  .hero-content__title {
    font-size: 36px;
  }
}
.hero-content__pera {
  line-height: 1.8;
}
.hero-content__pera span {
  font-weight: 500;
}

.hero-thumb {
  padding-right: 15px;
}
.hero-thumb img {
  width: 100%;
}

.cmn--btn {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  background: #0019FD;
  color: #fff;
  border-radius: 8px;
  border: 2px solid #0019FD;
  transition: all ease 0.3s;
}
.cmn--btn:hover, .cmn--btn.btn-outline {
  background-color: transparent;
  color: #0019FD;
}
.cmn--btn.btn-outline:hover {
  background: #0019FD;
  color: #fff;
}

.hero-btn-wrapper {
  margin-top: 58px;
  max-width: 433px;
}
@media (max-width: 991px) {
  .hero-btn-wrapper {
    margin-top: 35px;
  }
}
@media (max-width: 767px) {
  .hero-btn-wrapper {
    margin-inline: auto;
  }
}
@media (max-width: 575px) {
  .hero-btn-wrapper {
    margin-top: 25px;
  }
}
.hero-btn-wrapper .cmn--btn {
  padding: 13px 30px;
  display: block;
  box-shadow: 0px 5px 6px 0px rgba(0, 25, 253, 0.1490196078);
}
@media (max-width: 991px) {
  .hero-btn-wrapper .cmn--btn {
    padding: 10px 25px;
    font-size: 20px;
    display: inline-block;
  }
}
@media (max-width: 575px) {
  .hero-btn-wrapper .cmn--btn {
    font-size: 18px;
    padding: 10px 20px;
  }
}
.hero-btn-wrapper .cmn--btn:first-child {
  margin-bottom: 13px;
}
.hero-btn-wrapper .signed-up-text {
  line-height: 1.8;
  text-align: center;
  margin-top: 13px;
}
.hero-btn-wrapper .signed-up-text span {
  font-weight: 500;
}

.build-software {
  padding-top: 15px;
}

.build-software__title {
  margin-bottom: 39px;
  line-height: 1.45;
}

@media (max-width: 991px) {
  .build-logo-wrapper .single-logo-item img {
    max-width: 130px;
  }
}

.workflow-section {
  padding-top: 140px;
  padding-bottom: 70px;
}
@media (max-width: 1199px) {
  .workflow-section {
    padding-top: 120px;
  }
}
@media (max-width: 991px) {
  .workflow-section {
    padding-top: 100px;
  }
}
@media (max-width: 991px) {
  .workflow-section {
    padding-top: 80px;
  }
}

.workflow-title {
  max-width: 700px;
  margin-inline: auto;
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 110px;
}
@media (max-width: 1199px) {
  .workflow-title {
    margin-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .workflow-title {
    margin-bottom: 60px;
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .workflow-title {
    margin-bottom: 40px;
    font-size: 28px;
  }
}

.workflow-content-wrapper {
  padding-inline: 14px;
  max-width: 1240px;
  margin-inline: auto;
}
.workflow-content-wrapper:not(:last-child) {
  padding-bottom: 100px;
}
@media (max-width: 991px) {
  .workflow-content-wrapper:not(:last-child) {
    padding-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .workflow-content-wrapper:not(:last-child) {
    padding-bottom: 65px;
  }
}
@media (max-width: 991px) {
  .workflow-content-wrapper > .row {
    gap: 40px 0;
  }
}

.workflow-thumb {
  border: 6px solid #BBD4F5;
  border-radius: 8px;
  background-color: #F3F4F6;
}
.workflow-thumb img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.workflow-content-wrapper:nth-of-type(even) .workflow-content {
  padding-left: 0;
  padding-right: 80px;
}
@media (max-width: 991px) {
  .workflow-content-wrapper:nth-of-type(even) .workflow-content {
    padding-right: 0;
  }
}

.workflow-content {
  max-width: 560px;
  padding-left: 80px;
}
@media (max-width: 991px) {
  .workflow-content {
    padding-left: 0;
  }
}
.workflow-content .title-info {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 17px;
}
.workflow-content__title {
  margin-bottom: 28px;
  font-weight: 500;
}
.workflow-content p {
  margin-bottom: 16px;
}

.workflow-list {
  margin: 0;
  padding: 0;
  max-width: 380px;
}
.workflow-list li {
  line-height: 1.8;
}
.workflow-list li:not(:last-child) {
  margin-bottom: 13px;
}
.workflow-list li img {
  padding-right: 13px;
}
.workflow-list.style-two {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}
.workflow-list.style-two li {
  align-items: center;
  min-width: 180px;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 20px;
}