@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-light text-title-default;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.55;
  }
  span,
  a,
  sup,
  sub {
    @apply inline-block;
  }
  p:last-child {
    @apply mb-0;
  }
  a {
    @apply no-underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium m-0 text-title-default;
    font-family: "Outfit", sans-serif;
    line-height: 1.33;
  }
  h1 {
    @apply text-2xl sm:text-3xl lg:text-4xl xxl:text-5xl;
    line-height: 1.13;
  }
  h2 {
    @apply text-xl sm:text-2xl md:text-3xl;
  }
  .container {
    @apply mx-auto px-5;
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1280px !important;
    }
  }

  /* additional CSS Start */
  .font-title {
    font-family: "Outfit", sans-serif;
  }
  .header {
    z-index: 111111;
    transition: 0.4s;
  }
  .header.active {
    box-shadow: 0 6px 8px -6px rgba(15, 23, 42, 0.05), 0 8px 16px -6px rgba(15, 23, 42, 0.05);
    z-index: 111111;
  }
  @media (max-width: 991px) {
    #responsiveHeader {
      transform: translateX(-100%);
    }
    #responsiveHeader.active {
      transform: translateX(0%);
    }
  }
  .control-lan:hover ul,
  .control-lan:focus ul {
    @apply block;
  }
  .faq-item .faq-content {
    @apply hidden;
  }
  .faq-item.open .faq-title img {
    transform: rotate(-180deg);
  }
  .faq-item:not(:last-child) {
    @apply border-b-0;
  }
  /* additional CSS End */
}

@layer components {
  .btn {
    @apply px-4 rounded-lg text-center font-medium;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: "Roboto", sans-serif;
    transition: all ease 0.3s;
  }
  .btn--lg {
    font-size: 18px;
    padding: 13px 45px;
    @apply text-lg;
  }
  @media (max-width: 575px) {
    .btn--lg {
      font-size: 16px;
      padding: 10px 25px;
    }
  }
  @media (min-width: 1400px) {
    .btn--lg {
      font-size: 22px;
      padding: 15px 64px;
    }
  }
  .btn--dark.btn--outline {
    @apply text-dark-default border border-border-dark;
    background-color: transparent;
  }
  .btn--base {
    @apply text-white-default bg-base-default border-2 border-border-base;
    box-shadow: 0px 5px 6px 0px #0019fd26;
  }
  .btn--white {
    @apply text-base-default bg-white-default border-2 border-border-base;
  }
  .btn--base.btn--outline {
    @apply border-2 border-border-base text-base-default;
    background-color: transparent;
  }
  .btn:hover {
    @apply border-border-baseDark bg-base-deep text-white-default;
  }
}

@layer utilities {
  .top-bottom-overflow-fade {
    mask-image: linear-gradient(transparent, black 0%, black 40%, transparent 100%);
    -webkit-mask-image: linear-gradient(transparent, black 0%, black 40%, transparent 100%);
  }
}
.mask-none {
  mask-image: none;
  -webkit-mask-image: none;
  height: auto;
}
