@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-light;
    font-family: "Roboto", sans-serif;
    color: #0f172a;
    font-size: 16px;
    line-height: 1.55;
  }
  span,
  a,
  sup,
  sub {
    @apply inline-block;
  }
  p:last-child {
    @apply mb-0;
  }
  a {
    @apply no-underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium m-0;
    font-family: "Outfit", sans-serif;
    color: #0f172a;
    font-weight: 500;
    line-height: 1.33;
  }
  h1 {
    @apply text-2xl sm:text-3xl lg:text-4xl xxl:text-5xl;
    line-height: 1.13;
  }
  h2 {
    @apply text-xl sm:text-2xl;
  }
  .container {
    @apply mx-auto px-5;
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1280px !important;
    }
  }

  /* additional CSS Start */
  .font-title {
    font-family: "Outfit", sans-serif;
  }
  .header {
    z-index: 111111;
    transition: 0.4s;
  }
  .header.active {
    box-shadow: 0 6px 8px -6px rgba(15, 23, 42, 0.05), 0 8px 16px -6px rgba(15, 23, 42, 0.05);
    z-index: 111111;
  }
  @media (max-width: 991px) {
    #responsiveHeader {
      transform: translateX(-100%);
    }
    #responsiveHeader.active {
      transform: translateX(0%);
    }
  }
  .control-lan:hover ul,
  .control-lan:focus ul {
    display: block;
  }
  .faq-item .faq-content{
    display: none;
  }
  .faq-item.open .faq-title img {
    transform: rotate(-180deg);
  }
  .faq-item:not(:last-child) {
    border-bottom: 0
  }
  /* additional CSS End */
}

@layer components {
  .btn {
    @apply px-4;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    transition: all ease 0.3s;
  }
  .btn--lg {
    font-size: 22px;
    padding: 13px 55px;
    @apply text-lg;
  }
  @media (max-width: 575px) {
    .btn--lg {
      font-size: 16px;
      padding: 10px 25px;
    }
  }
  .btn--dark.btn--outline {
    color: #000;
    background: transparent;
    border: 1px solid #000;
  }
  .btn--dark.btn--outline:hover {
    color: #fff;
    background: #000;
    border: 1px solid #000;
  }
  .btn--base {
    color: #fff;
    background: #0019fd;
    border: 2px solid #0019fd;
  }
  .btn--white {
    color: #0019fd;
    background: #fff;
    border: 2px solid #0019fd;
  }
  .btn--white:hover {
    color: #fff;
    background: #0019fd;
    border: 2px solid #0019fd;
  }
  .btn--base:hover {
    color: #0019fd;
    background: transparent;
    border: 2px solid #0019fd;
  }
  .btn.btn--base.btn--outline {
    border: 2px solid #0019fd;
    background-color: transparent;
    color: #0019fd;
  }
  .btn.btn--base.btn--outline:hover {
    color: #fff;
    background-color: #0019fd;
  }
}
